.boxnemodar{
    width: 65.3%;
}
.boxinformation div{
    padding: 4px 0px;
}
.monts p {
    padding: 3px 14px;
}
.monts{
    margin-left: 40px;
}

.hhhh p{
    padding: 0px 5px;
}
.khat{
 margin-top: -60px;
}
.khat2{
    margin-top: -85px;
    height: 82px;
}
