.boxnemodar{
    width: 65.3%;
}
.boxinformation div{
    padding: 4px 0px;
}
.monts p {
    padding: 3px 14px;
}
.monts{
    margin-left: 40px;
}

.hhhh p{
    padding: 0px 5px;
}
.khat{
 margin-top: -60px;
}
.khat2{
    margin-top: -85px;
    height: 82px;
}

.khat3{
    margin-top: -37px;
}
.khat4{
    margin-top: -72px;
}
.khat5{
    margin-top: -103px;
}

.khat6{
    margin-top: -150px;
}

.khat7{
    height: 85px;
    margin-top: -92px;
}
.khat8{
    margin-top: -97px;
    height: 90px;
}
.khat9{
    margin-top: -63px;
}
.khat10{
    margin-top: -135px;
}
.khat12{
    margin-top: -65px;
}
.khat14{
    margin-top: -183px;
}
.khat15{
    margin-top: -72px;
}
.khat16{
    margin-top: -103px;
}
.khat17{
    margin-top: -135px;
}
.khat18{
    height: 185px;
    margin-top: -192px;
}
.october{
    right: 59.5px;
}